@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .header {
  }
}
.nav {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.nav:hover {
  background: #f7e4ff;
  color: black;
}
.button {
  width: 100px;
  background: #275300;
  color: white;
}
.gradient {
  background: linear-gradient(to right, #e9d4ff, #bfdbfe);
}
